@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Nunito:wght@400;500;600;700&display=swap');

//colors
$primary-color: #3C69D1;
$secondary-color: #B0D877;
$semantic-color: #FFD700;
$primary-dark-color: #214087;
$secondary-dark-color: #81B634;
$semantic-dark-color: #998100;
$primary-light-color: #90AAE4;
$secondary-light-color: #DFEFC8;
$semantic-light-color: #FFE766;
$neutral-black: #191919;
$neutral-dark-grey: #666666;
$neutral: #FEFBE8;
$neutral-light-grey: #B3B3B3;
$neutral-white: #FFFFFF;

//fonts
$montserrat: 'Montserrat';
$nunito: 'Nunito';