@import '../utils/variables.scss';
@import '../utils/mixings.scss';

.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $neutral;

    .black-box {

        height: 100px;
        width: 100vw;
        background: rgb(144, 170, 228);
        background: linear-gradient(180deg, rgba(144, 170, 228, 1) 0%, rgba(39, 81, 111, 1) 61%, rgba(2, 0, 36, 1) 100%);

        h3 {
            color: white;
            margin: 50px 0px 0px 130px;
        }

        img {
            width: 65px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid black;
            margin: -17px 0px 0px 26px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin-top: 40px;
        }

        select {
            background-color: $primary-light-color;
            border: none;
            border-radius: 20px;
            width: 50%;
            padding: $form-elements-padding;
            margin: $form-elements-margin;
            color: white;
            text-align: center;
        }

        button {
            width: 50%;
            margin-bottom: 30px;
        }

        input {
            background-color: transparent;
            border: 1px solid black;
            width: 50%;
            border-radius: 20px;
            padding: 5px 0px;
        }

        div {
            display: grid;
            grid-template-columns: repeat(3, max-content 1fr);
            grid-gap: 10px;
            align-items: center;
            margin-bottom: 16px;

            label {
                display: block;
                width: 100%;

                input[type="checkbox"] {
                    width: 80px;
                    text-align: center;
                }
            }
        }
    }

    #edit-profile-btn {
        margin: 30px 0px
    }
}

@media (max-width: 460px) {
    .edit-profile-container {
        .black-box {
            h3 {
                color: white;
                margin: 56px 0px 0px 130px;
                font-size: 20px;
            }
        }

        form {
            div {
                grid-template-columns: 1fr;
                grid-gap: 20px;
                align-items: center;

                div {
                    label {
                        display: grid;
                        /* Use grid layout for the label and checkbox */
                        grid-template-columns: max-content 1fr;
                        /* Two columns: one for checkbox, one for label */
                        align-items: center;
                        /* Align items in the center */
                        width: 100%;
                        /* Make labels take full width */
                        white-space: nowrap;

                        input[type="checkbox"] {
                            margin: 0;
                            width: 80px;
                            text-align: center;
                            justify-self: center;
                        }
                    }
                }
            }

            select {
                width: 100%;
            }

            button {
                width: 100%;
            }

            input {
                width: 100%;

            }

        }
    }
}