// Import your variables here
@import '../utils/variables.scss';
@import '../utils/mixings.scss';

.post-publication-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        position: relative;
        bottom: 65px;
        color: white;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input-text-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                margin-bottom: 10px;
            }

            input,
            textarea {
                margin-bottom: 20px;
                border-radius: 20px;
                border: 1px solid black;
            }

            input {
                padding: 10px 30px;
            }

        }

        button {
            margin: 20px;
            padding: 10px 30px;
        }
    }
}

@media(min-width: 1024px) {
    .post-publication-form {
        form {
            .input-text-form {
                input {
                    width: 100%;
                }

                textarea {
                    width: 80vw;
                }
            }

            button {
                margin: 20px;
                padding: 10px 80px;
            }
        }
    }
}