@import '../utils/variables.scss';
@import '../utils/mixings.scss';

* {
    font-family: $nunito;
}

h1 {
    color: $primary-color;
    font-family: $montserrat;
}

h2 {
    text-align: center;
    font-family: $montserrat;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black
}

p {
    text-align: left;
    font-size: 20px;
}

img {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 25px;
}

button {
    @include button
}

.log-in-first {
    margin: 30px 0px 20px;

    span {
        font-weight: bold;
    }

}

.max-security {
    h2 {
        text-align: left;
    }

    display: flex;
    flex-direction: column;
    margin-left: 10%;

    img {
        width: 50vw;
    }

    .logo-welcome {
        width: 40%;
    }

}

.welcome {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: $page-margin;
}

.logo-welcome {
    width: 15%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    border-radius: 40px;
    padding: 10px;
    margin: 70px;


    a {
        color: white;
    }
}

.articles {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .routes,
    .adaptation,
    .comunity,
    .natural-resources,
    .security-advice,
    .hidratacion,
    .weather {
        display: flex;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 50px;
        margin: $page-margin;

        a {
            color: white;
            text-align: center
        }

        article {
            @include articleDisplay;
        }
    }
}


.footer {
    display: flex;
    margin-top: 40px;
    margin: $page-margin;

    .join-now {
        width: 90%;
        margin-bottom: 100px;

        p {
            text-align: left;
        }

        h3 {
            text-align: center;
            margin-bottom: 40px;
        }

        .reviews {
            display: flex;

            .star {
                color: $semantic-color;
            }
        }
    }

    .botom-register {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;


        .social-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow-up {
                margin-left: 20px;
            }
        }
    }


}

@media (max-width: 460px) {
    .img {
        width: 100%
    }

    .max-security {


        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;

        img {
            width: 90vw;
        }

        .logo-welcome {
            width: 20%;
        }

    }

    .routes,
    .adaptation,
    .comunity,
    .natural-resources,
    .security-advice {
        display: flex;
        flex-direction: column;

        article {
            width: 100%;

            a {
                text-align: center;
            }
        }
    }

    .articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .buttons {
        display: none;
    }

    .welcome {
        width: unset;
        text-align: center;
    }

    .footer {
        display: flex;
        flex-direction: column;

        .join-now {
            width: 100%;
        }
    }

    .reviews {
        flex-wrap: wrap;
    }
}