 @import '../utils/variables.scss';
 @import '../utils/mixings.scss';

 .map-view {
     margin: 0px auto;
     border-radius: 5vw 5vw 5vw 5vw;
 }

 .filters-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .slider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;

        .MuiSlider-root.MuiSlider-colorPrimary.MuiSlider-sizeMedium.filter-slider.css-187mznn-MuiSlider-root {
            width: 100%;
        }

        .slider-title {
            align-self: flex-start;
        }
    }
 }

 /*  div.leaflet-control-zoom.leaflet-bar.leaflet-control {
     border: none
 }

 a.leaflet-control-zoom-in {
     background-color: $primary-light-color;
     border-radius: 5vw 5vw 5vw 5vw;
 }

 a.leaflet-control-zoom-in:focus {
     background-color: $primary-light-color;
 }

 a.leaflet-control-zoom-out {
     background-color: $primary-light-color;
     border-radius: 5vw 5vw;
 } */

 .map-view-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     input {
         padding: 10px;
         width: 80%;
         border-radius: 20px;
         border: 1px solid $primary-light-color;
         box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.133);
         margin: 20px 0px 0px;
     }

     .search-icon {
         font-size: 20px;
         position: relative;
         bottom: 35px;
         left: 145px;
         background-color: $primary-light-color;
         padding: 6px;
         border-radius: 50%;
         color: white;
     }

     .btn-container {
         width: 90%;
         display: flex;
         justify-content: space-between;
         margin-bottom: 20px;

         .icon {
             @include icons
         }

         #filter-icon {

             border: 1px solid $primary-light-color;
             background-color: $primary-light-color;
             color: white;
         }
     }

     .navigation {
         width: 90%;
         display: flex;
         justify-content: space-between;
         margin-bottom: 20px;
         padding: 5px;
         background-color: $primary-light-color;
         border-radius: 30px;
         position: relative;
         bottom: 32px;
         z-index: 1000;

         #map-icon {
             color: black;
         }

         .icon {
             @include icons;
             color: white;
             border: none;
             font-weight: bolder;
             font-size: 30px;
         }
     }
 }

 @media (min-width: 1024px) {
     .map-view {
         margin: 0px auto;
         border-radius: 0;

     }



     .map-view-container {

         .search-icon {
             font-size: 20px;
             position: relative;
             bottom: 35px;
             left: 1010px;
             background-color: $primary-light-color;
             padding: 6px;
             border-radius: 50%;
             color: white;
         }

         .navigation {
             width: 80%;
             display: flex;
             justify-content: space-around;
             margin-bottom: 20px;
             padding: 5px;
             background-color: $primary-light-color;
             border-radius: 30px;
             position: relative;
             bottom: 32px;
             z-index: 1000;
         }
     }



 }