@import '../utils/variables.scss';
@import '../utils/mixings.scss';

.profile-container {
    background-color: $neutral;
    display: flex;
    flex-direction: column;
    align-items: center;

    .black-box {
        height: 100px;
        width: 100vw;
        background: rgb(144, 170, 228);
        background: linear-gradient(180deg, rgba(144, 170, 228, 1) 0%, rgba(39, 81, 111, 1) 61%, rgba(2, 0, 36, 1) 100%);

        h3 {
            color: white;
            margin: 38px 0px 0px 126px;
        }

        .silluette {
            width: 65px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid black;
            margin: -27px 0px 0px 26px;
        }

    }

    .edit-profile-btn {
        margin: 20px 0px 0px 250px
    }

    .heading-info {
        margin-left: 20px;

        span {
            font-weight: bold;
        }
    }

    .info {
        background-color: rgb(213, 213, 213);
        width: 80%;
        padding: 20px;
        border-radius: 30px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        .info-container {
            background-color: rgb(170, 170, 170);
            border-radius: 20px;
            min-height: 30px;
            width: 95%;
            padding: 1% 0% 1% 5%;
            margin-bottom: 20px;
            display: flex;
            align-items: center;

        }

    }

}

@media (min-width: 1024px) {
    .stats-img {
        display: none;
    }

    .profile-container {
        background-color: $neutral;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .heading-info {
        margin-bottom: 80px;
    }

    .edit-profile-btn {
        position: relative;
        left: 1900px;
        padding: 12px 20px;
    }

    .info {
        margin: auto;
    }
}