@import '../utils/variables.scss';
@import '../utils/mixings.scss';

.user-form {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    height: 100vh;

    img {
        width: 30%;
    }

    h2 {
        color: $secondary-dark-color;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80%;

        .show-sports-btn {
            margin-bottom: 40px;
        }

        section {
            display: flex;
            width: 40%;
        }

        p {
            text-align: center;
            padding-bottom: 40px;
            font-weight: bold;
        }

        div {
            display: grid;
            grid-template-columns: repeat(3, max-content 1fr);
            grid-gap: 10px;
            align-items: center;
            margin-bottom: 16px;

            label {
                display: block;
                width: 100%;

                input[type="checkbox"] {
                    width: 80px;
                    text-align: center;
                }
            }
        }

        select {
            background-color: transparent;
            border: none;
            padding: 0 1em 0 0;
            margin: 0;
            width: 50%;
            padding: $form-elements-padding;
            margin: $form-elements-margin;
        }

        input {
            @include input
        }

        .profile-btn {
            margin: 40px 0px 100px;
            width: 30%;
        }
    }
}

@media (max-width: 460px) {
    .user-form {
        form {
            div {
                grid-template-columns: 1fr;
                /* Single column for mobile devices */
                grid-gap: 20px;
                /* Increase the grid gap for better spacing on mobile */
                align-items: center;

                div {
                    label {
                        display: grid;
                        /* Use grid layout for the label and checkbox */
                        grid-template-columns: max-content 1fr;
                        /* Two columns: one for checkbox, one for label */
                        align-items: center;
                        /* Align items in the center */
                        width: 100%;
                        /* Make labels take full width */
                        white-space: nowrap;

                        input[type="checkbox"] {
                            margin: 0;
                            width: 80px;
                            text-align: center;
                            justify-self: center;
                        }
                    }
                }


            }

            align-items: unset;

            section {
                flex-direction: column;
                width: 100%;
            }

            select {
                width: 100%;
                min-width: 200px;
            }

            input {
                min-width: 90%;
            }

            .profile-btn {
                min-width: 90%;
            }
        }
    }
}